@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu+Sans+Mono:wght@400..700&display=swap");

:root {
  --PADDING: 10px;
  --MAIN_COLOR: white;
  --SECONDARY_COLOR: black;
  --BORDER_SIZE: 3px;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

.scroll {
  scroll-snap-align: start;
}

.wrapper {
  display: flex;

  margin-bottom: var(--PADDING);

  background-color: var(--MAIN_COLOR);
  border-radius: var(--PADDING);
  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
}

/* -------- HEADER -------- */

.header {
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--PADDING);

  position: fixed;

  font-size: 20px;
  font-weight: 500;

  height: calc(var(--PADDING) * 4);
  width: calc(100% - (var(--BORDER_SIZE) * 8 + var(--PADDING) * 2));

  margin-top: calc(var(--PADDING) / 2);
  margin-bottom: var(--PADDING);

  a {
    outline: none;
    text-decoration: none;
    color: var(--SECONDARY_COLOR);
  }
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 50%;
}

/* -------- MAIN -------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-image: url(./../../public/images/img.jpg);
}

.common-width {
  width: calc(100% - var(--PADDING) * 4);
}

/* ---- ABOUT ---- */

.about {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - var(--PADDING) * 6);

  padding-top: calc(var(--PADDING) * 6);
}

.about-wrapper {
  display: flex;
  flex-direction: column;

  width: 60%;

  padding: var(--PADDING);
}

.title {
  font-weight: 700;
  font-size: 60pxpx;
  margin-bottom: var(--PADDING);
}

.text {
  font-size: 20px;
  margin-bottom: var(--PADDING);
}

.slides {
  align-self: flex-end;

  min-height: 50px;
  width: 60%;

  padding-top: calc(var(--PADDING) * 2);
  padding-bottom: calc(var(--PADDING) * 2);

  flex-direction: row;
  gap: calc(var(--PADDING) * 2);

  overflow-x: hidden;
}

.slides::before {
  z-index: 1;

  content: "OUR CREATORS";

  display: flex;
  flex-wrap: nowrap;

  position: relative;
  left: 0px;
  top: -31px;

  color: rgba(106, 106, 106, 0.49);
  font-size: 55px;
  font-weight: bold;
}

.block {
  z-index: 2;

  height: 20vh;

  position: relative;
  left: -400px;

  border-radius: 30%;

  animation: slideInOut 90s infinite;
}

@keyframes slideInOut {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% * 6));
  }
}

/* ---- PRODUCT ---- */

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: calc(100vh - var(--PADDING) * 6);

  padding-top: calc(var(--PADDING) * 6);
}

.product-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 60%;
  width: 30%;

  padding: var(--PADDING);

  overflow: hidden;
}

.description {
  font-size: 20px;
  margin-bottom: var(--PADDING);
}

.logos {
  display: flex;
}

.logo {
  height: 150px;

  border-radius: var(--PADDING);
}

.logo1 {
  position: relative;
  left: 150px;
  opacity: 1;
  animation: fadeLogo1 10s infinite;
}

.logo2 {
  position: relative;
  opacity: 0;
  animation: fadeLogo2 10s infinite;
}

.logo3 {
  position: relative;
  left: -150px;
  opacity: 0;
  animation: fadeLogo3 10s infinite;
}

@keyframes fadeLogo1 {
  0%,
  10% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeLogo2 {
  0%,
  30% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeLogo3 {
  0%,
  70% {
    opacity: 0;
  }
  80%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pictures {
  display: flex;
}

.picture {
  height: 150px;

  border-radius: var(--PADDING);
}

.picture1 {
  position: relative;
  top: 0px;
  left: 266.667px;
}

.picture2 {
  position: relative;
  top: 0px;
  left: 0px;

  opacity: 0;

  animation: fadePicture2 10s infinite;
}

@keyframes fadePicture2 {
  0%,
  66.6%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.picture3 {
  position: relative;
  top: 0px;
  left: -266.667px;

  opacity: 0;

  animation: fadePicture3 10s infinite;
}

@keyframes fadePicture3 {
  0%,
  33.3%,
  100% {
    opacity: 0;
  }
  83.3% {
    opacity: 1;
  }
}

.appart {
  height: 150px;

  filter: grayscale();

  margin-bottom: var(--PADDING);

  border-radius: var(--PADDING);
}

/* ---- AUTH ---- */

.auth {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: flex-end;

  width: 100%;

  min-height: 720px;
  height: 100vh;
}

.auth-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: var(--PADDING);

  min-width: 50%;

  min-height: calc(100% - var(--PADDING) * 6 - var(--PADDING) * 2);
  height: calc(100% - var(--PADDING) * 6 - var(--PADDING) * 2);

  background-color: var(--MAIN_COLOR);

  border-top: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  border-left: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  border-radius: 50px 0px 0px 0px;
}

.auth-block {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  width: 320px;
  max-width: 320px;

  height: auto;

  padding: var(--PADDING);

  font-size: 15px;
}

/* -- LOGIN / PASSWORD -- */

.log-input {
  height: 25px;
  padding: 0 calc(var(--PADDING) / 2) 0 calc(var(--PADDING) / 2);

  font-size: inherit;
  color: var(--SECONDARY_COLOR);

  transition-duration: 1s;

  .log-input::placeholder {
    color: var(--SECONDARY_COLOR);
  }
}

.password:valid {
  background-color: lightgreen;
}

.password:invalid {
  background-color: var(--MAIN_COLOR);
}

/* -- CHOOSER -- */

.sex {
  display: flex;
  align-items: center;
  margin-bottom: var(--PADDING);
  input {
    font-size: inherit;
  }
}

.prefer {
  display: flex;
  margin-bottom: var(--PADDING);
  align-items: center;
}

.file-select {
  display: flex;
  font-size: inherit;
  align-items: center;

  margin-bottom: var(--PADDING);

  input {
    font-size: inherit;
  }
}

/* -- TEXT AREA -- */

.info-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: var(--PADDING);
  gap: calc(var(--PADDING) + var(--BORDER_SIZE));
  width: 100%;
}

.info {
  max-width: calc(155px - var(--BORDER_SIZE) * 3 - var(--PADDING) / 2);
  max-height: 370px;

  font-size: inherit;

  padding: calc(var(--PADDING) / 2);
  margin: 0;

  color: var(--SECONDARY_COLOR);
}

.gif {
  height: calc(155px - var(--BORDER_SIZE) * 2 - var(--PADDING) / 2);
  width: calc(155px - var(--PADDING) / 2 - var(--BORDER_SIZE));

  border-radius: var(--PADDING);
}

/* -- BUTTONS -- */

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: var(--PADDING);
}

.button {
  height: 30px;
  width: 50%;

  font-size: inherit;

  border: 0;
  border-radius: var(--PADDING);

  background-color: var(--SECONDARY_COLOR);

  color: var(--MAIN_COLOR);

  transition-duration: 0.5s;
}

.check:hover {
  box-shadow: inset 0 0 20px rgb(1, 189, 1);
}

.clear:hover {
  box-shadow: inset 0 0 20px rgb(235, 66, 15);
}

.check:active {
  background-color: rgb(1, 189, 1);
}

.clear:active {
  background-color: rgb(235, 66, 15);
}

/* -------- FOOTER -------- */

.footer {
  display: flex;

  padding: calc(var(--PADDING) * 2);

  width: calc(100% - var(--PADDING) * 2);

  scroll-snap-align: end;

  background-color: var(--SECONDARY_COLOR);

  color: var(--MAIN_COLOR);
  font-size: 15px;
  text-align: left;

  p {
    margin: 0 0 10px;
  }
}

.social-links {
  display: flex;

  a {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
    transition: opacity 0.3s;

    border-radius: 25%;
  }
}

.social-links a:hover img,
.social-links a:focus img {
  opacity: 1;
  transform: scale(1.1);
}
