@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu+Sans+Mono:wght@400..700&display=swap");

:root {
  --PADDING: 10px;
  --MAIN_COLOR: white;
  --SECONDARY_COLOR: black;
  --BORDER_SIZE: 3px;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-image: url(./../../public/images/img.jpg);

  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll {
  scroll-snap-align: start;
}

/* -------- HEADER -------- */

.header {
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  gap: 10px;
  font-size: 15px;

  height: calc(var(--PADDING) * 4);
  width: calc(100% - var(--BORDER_SIZE) * 4);

  margin-top: calc(var(--PADDING) / 2);
  margin-bottom: var(--PADDING);

  background-color: var(--MAIN_COLOR);
  border-radius: var(--PADDING);
  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  a {
    outline: none;
    text-decoration: none;
    color: var(--SECONDARY_COLOR);
  }
}

/* -------- MAIN -------- */

.main {
  display: flex;
  flex-direction: column;

  width: calc(100% - var(--PADDING) * 2);
}

.wrapper {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  min-width: calc(100% - (var(--PADDING) + var(--BORDER_SIZE)) * 2);

  margin-bottom: var(--PADDING);
  padding: var(--PADDING);

  background-color: var(--MAIN_COLOR);
  border-radius: var(--PADDING);
  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
}

/* ---- ABOUT ---- */

.about {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - var(--PADDING) * 6);
  width: 100%;

  padding-top: calc(var(--PADDING) * 6);
}

.title {
  font-size: 25px;
  margin-bottom: var(--PADDING);
}

.text {
  font-size: 15px;
  margin-bottom: var(--PADDING);
}

.slides {
  flex-wrap: nowrap;
  flex-direction: row;
  gap: calc(var(--PADDING) * 2);
  flex-grow: 1;
  overflow-x: hidden;
  min-height: 200px;
}

.block {
  position: relative;
  left: 0px;
  display: flex;
  min-width: calc();
  height: 100%;
}

/* ---- PRODUCT ---- */

.product {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  padding-top: calc(var(--PADDING) * 6);
  background-color: rgba(89, 0, 255, 0.411);
}

/* ---- AUTH ---- */

.auth {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  padding-top: calc(var(--PADDING) * 6);
  background-color: rgba(255, 187, 0, 0.411);
}

/* -------- FOOTER -------- */

.footer {
  display: flex;

  padding: var(--PADDING);

  min-height: 100px;
  width: calc(100% - var(--PADDING) * 2);

  scroll-snap-align: end;

  background-color: var(--SECONDARY_COLOR);
  color: var(--MAIN_COLOR);
  font-size: 15px;
}
